.card {
    display: flex;
    flex-direction: column;
    border: 10px solid #524a4c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 1000px;
    left: 25%;
  }
