{% extends "layout.html" %}
{% block title %}CodeX{% endblock %}
{% block page %}CodeX{% endblock %}

{{ super() }}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block content %}

    <div class="card">
        <h1><b>Competition Results</b></h1>
        <p>Below is a list winners & runners-up of various coding competitions held by different organizations for programmers of all skill levels.</p>
    </div>

    <div class="card">
        <div class="col m4">
            <table>
                <tr>
                    <th>Competition Name</th>
                    <th>Category</th>
                    <th>Winner</th>
                    <th>Runner-up</th>
                    <th>Description</th>
                </tr>
                {% for competition in competitions %}
                    <form name="ExpandDescription" class="card">
                        <tr>
                            <td>{{competition.name}}</td>
                            <td>{{competition.category}}</td>
                            <td>{{competition.winner}}</td>
                            <td>{{competition.runnerup}}</td>
                            <td>
                                {% if competition.id != compid %}
                                    <div class="cardActions">
                                        <a class="btn aquamarine right" href="/competition/{{competition.id}}" id="ExpandBtn" style="position:relative; left:-70px; bottom:0px;">Description</a>
                                    </div>
                                {% endif %}

                                {% if competition.id == compid %}
                                    <div id="expandedDesc">{{competition.description}}</div>
                                {% endif %}
                            </td>
                        </tr>
                    </form>
                {% endfor %}
            </table>
        </div>
    </div>

    <script>
        var compElem = document.getElementById('expandedDesc');// edit to scroll to selected pokemon
        compElem.scrollIntoView();
    </script>

{% endblock %}
