{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block page %}CodeX Competitions{% endblock %}


{% block content %}
<div class="content fill-space">
  <img class="grow-2" src="/static/img/pexels-abhishek-rana-4188296.jpg">
  <div class="subcontent center-vertical">
    <h4 class="center">Login</h4>
    <form id="loginForm" method="POST" action="/login" style="padding:1em">

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Username" id="username" name="username" type="text" class="validate">
          <label for="username"></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Password" name="password" id="password" type="password" class="validate">
          <label for="password"></label>
        </div>
      </div>
      <div class="rowbtn center">
        <div class="col s12 card-action">
          <input type="submit" class="purple text-white btn" value="Login">
        </div>
        
      </div>
      <div class="col s10  card-action center">
        <a href="/signup">Don't have an account? Sign Up</a>
      </div>

    </form>
  </div>

</div>
{% endblock %}
