{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}<img class="grow-3" src="https://raw.githubusercontent.com/kates-dvs/INFO2602-Grp/home-works/images/CodeX%20Logo-white.png" alt="Logo">{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This is table is renderd on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/users">/users</a>.
        </p>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>Username</th><th>Admin</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.is_admin}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>

{% endblock %}
